.header {
    min-height: 70px;
    background: #292929;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
  .p-left {
    padding-left: 10px;
  }
  .profile {
    color: #fff;
    display: flex;
    align-items: center;
  }
  .profile-pic {
    border-radius: 50%;
  }
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .user-line {
    width: 1px;
    height: 40px;
    background: #0000008F;
    margin:0rem 1rem!important;
  }
  
  .user-name {
    font-size: 13px;
    font-weight: 600;
  }
 
  .user-info {
    display: flex;
    flex-direction: column;
  }

  .menu-position{
    position: absolute;
    transform: translate3d(1167px, 43px, 0px);
    top: 15px!important;
    left: -10px!important;
    background: black;
    color: #fff;
    font-size: 14px;
    padding: 0px;
    z-index:999;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  
  
  
  .menu-position a:hover {
    color: #df8f01;
    background: #000;
    font-size: 14px;
  }
  
  .show {
    display: block;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }
  
  .f-size {
    font-size: 20px;
  }
  
  .b-dark {
    background: #000;
  }
  .d-flex1 {
    display: flex !important;
    align-items: center !important;
    color:#fff
  }
  .hr-line {
    border-bottom: 1px solid #1e1e1e !important;
  }
  .dropdown-item{
    padding: 0.5rem 1rem;
  }