<div class="profile">
    <div class="d-flex align-items-center">
      <div class="profile-pic">
        <img src="./assets/images/avatar.png" class="cursor" alt="user avatar" width="40" height="40">
      </div>
      <div class="user-info p-left">
          <span class="user-name">Abhishek</span>
      </div>
      <div class="user-line"> </div>
      <div class=" show ">
        <img src="./assets/images/whitecarret.png" alt="icon" width="10" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
        <div class="dropdown-menu  menu-position" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item d-flex1 hr-line">Logout <span class="material-icons ml-auto f-size">power_settings_new</span></a>
            <a class="dropdown-item d-flex1">Manage Profile  <span class="material-icons ml-auto f-size">settings</span> </a>
        </div>
    </div>
  </div>
</div>

