.left-block{
    display: flex;
    align-items: center;
    float: left;
    
}
.right-block{
    display: flex;
    align-items: center;
    float: right;
}
.hr-line{
    width: 40px;
    height: 1px;
    background: #fff;
}
.vr-line{
    width: 2px;
    height: 40px;
    background: #df8f01;
    margin: 0 10px;
}
.block-text{
    color:#df8f01;
    font-size: 16px;
}
.af-size{
   
font-size: 24px;
}
.rupees{
    display: flex;
    align-items: flex-end;
}
.inr-icon{
    width: 30px;
    height: 28px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;    padding-top: 3px;
    background: #292929;
}


.btnBorder{
    border: 1px solid #df8f01;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 20px;
    color: #df8f01;
    padding: 6px;
    padding-inline-start: 18px;
    padding-inline-end: 6px;
    cursor: pointer;
    margin-right: 10px;
    width: 150px;
    opacity: 1;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    position: relative;
    justify-content: space-between;
}
.btnBorder .rounded-icon {
    font-size: inherit !important;
    
}

.rounded-icon{
  border: 0.5px solid;
  /* font-size: 19px;
  width: 20px; */
  align-items: center;
  border-radius: 50% !important;
  margin-left: auto !important;
}
  .dropdownContent {
    /* border-radius: 8px; */
    position: absolute;
    background: #000;
    color:#fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -17px;
   top: 33px;
    padding:0px;

  }
  .btnBorder:hover .rounded-icon {
    background: #DF8F01 !important;
    color: #181818 !important;
}

  .dropdown-item{
    border-bottom: 1px solid #1e1e1e !important;
   padding:5px 20px!important;
  }  
  .dropdownContent li {
    color: #fff;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdownContent li:hover 
    {
      color: #df821b;
      background: #000;
    }

  .dropdown-item-bg{
    color: #df821b!important;
  }   
  .outline-button-export{
    border: 1px solid #df8f01;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 20px;
    color: #df8f01;
    padding: 6px;
    padding-inline-start: 14px;
    padding-inline-end: 12px;
    cursor: pointer;
    width: 200px;
    opacity: 1;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  

  /*5 Column Content Css Start*/
  .portfolio-block{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }
  .b-bdr{
    border: 1px solid #1e1e1e;
    border-radius: 8px;
    box-shadow: 2px 4px 6px #0000008f;
    background: #1e1e1e;
  }
  .dashboard-block{
    justify-content: space-between;
    width: calc(20% - 10px);
    height: 88px;
    margin-bottom: 30px;
  }
  .portfolio-box{
      display: flex;
      position: relative;
  }
  .portfolio-icon{
    width: 44px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left:10px;
    margin-top: -6px;
  }
  .img-width{
      width:65px;
      position: relative;
  }
  .portfolio-txt{
    padding: 10px;
    font-size: 12px;
    flex: 1 1 0;
  }
  .portfolio-txt-1{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px;
  }
  .portfolio-txt-1-icon{
    width: 16px;
    vertical-align: middle;
  }
  .portfolio-txt-2{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
  }
  .portfolio-txt-2-rate{
    text-align: left;
    font-size: 20px;
    color: #3cb4de;
  }
  .portfolio-txt-2-percent{
    font-size: 10px;
    color: #fe877a;
   margin-top: 10px;
  }
/*<!--5 Column Content End*/
.custom-dialog-container1{
  padding: 0px!important;
}
.mat-dialog-container {
  display: block;
  padding: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
.custom-dialog-container1{
  width:300px!important;
}














.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
