<div class="sidenavbar">
    <div class="navbar-list cursor bdrnone" routerLink="/login" routerLinkActive="active">
        <div class="image">
            <img src="./assets/images/rectangle.png" width="23" height="auto" alt="icon">
        </div>
    </div>
    <div class="navbar-list  cursor" routerLink="/" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/home_menu.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">Home</span>
      </div>
      <div class="navbar-list  cursor" routerLink="/collection" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/collections.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">Collections</span>
      </div>
      <div class="navbar-list  cursor" routerLink="/recovery" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/recovery.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">Recovery</span>
      </div>
      <div class="navbar-list  cursor"  routerLink="/compaign" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/marketing_new.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">Compaign</span>
      </div>
      <div class="navbar-list  cursor" routerLink="/product" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/product.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">Product</span>
      </div>
      <div class="navbar-list  cursor" routerLink="/queries" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/queries.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">Queries</span>
      </div>
      <div class="navbar-list  cursor" routerLink="/user-management" routerLinkActive="active">
        <div class="image">
          <img src="./assets/images/userManager.png" width="23" height="auto" alt="icon">
        </div>
        <span class="text">User Manager</span>
      </div>
      
</div>