<div class="top"  [@myAnimation1]>
    <div class="header"  >
        <img src="../../../../assets/etharaLogo.png" alt="logo">
        <img src="../../../../assets/info-icon.png" alt="info-logo" style="width: 44px;">
    </div>
</div>
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="imag">
                    <img src="../../../../assets/Group.png" alt="laptop img" height="380px">
                </div>
                <div class="discription"  [@myAnimation2]>
                    <h1>The Next-Gen in</h1>
                    <h1>Digital Debt Collection</h1>
                    <p> Introducing Ethera </p>
                    <p class="clrchange">India's first and only end-to-end </p>
                    <p class="clrchange"> debt management platform</p>
                    <p> for accuracy, ease and insights.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="block"  [@myAnimation2]>
                    <h1>Hello,</h1>
                    <p>Login to your account.</p>
                 <div class="myForm">
                    <mat-form-field>
                        <mat-label>Legacy form field</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                 </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
